*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Cocogoose" ;
    src: url(../assets/font/cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf);
}
@font-face {
    font-family: "Cocogoose" ;
    src: url(../assets/font/cocogoose/Cocogoose\ Pro\ Ultralight-trial.ttf);
}
title{
    background-color: #3C4D23;
}
body{
    font-family: "Cocogoose";
    background-color: #464d37df;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#top{
    text-align: center;
}
.carousel{
  z-index: 0;
  max-width: 90%;
  margin: auto;
}
.submenu{
  z-index: 100;
}
.logo{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col{
  background-color: #464d37df;
  
  
}
.card-body{
  background-color: #464d37df;

}
.card{
  text-align: center;
  margin: auto;
  padding: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  align-items: center;
}
div{
    background-color: #161614;
}
nav .menu{
    background-color: #464D37;
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
    
}
nav .menu .item{
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav .menu .item a{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 25px;
}
nav .menu .submenu{
    position: absolute;
    display: none;
}
nav .submenu .sub_1{
    font-display: block;
    font-size: 0,8rem;
    padding: auto;
}
nav .menu .item a:hover{
    color: #9FC758;
}
nav .menu .item:hover .submenu{
    display: block;
    padding: 15px;
    text-align: start;
    list-style-type: none;
    background-color: #464D37;
    line-height: 30px;
}

h3{
    text-align: center;
    padding: 5%;
    font-size: 3rem;
    color: #ffffff;
}
.section1{
    background-image: url(../assets/Img/Mockup8.jpg);
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}
.section1 .p1{
    background-color: #cde0a275;
    color: #ffffff;
    line-height: 1.5;
    padding: 20px;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1.5rem;
}
.section1 .p2{
    background-color: #cde0a275;
    color: #ffffff;
    line-height: 1.5;
    padding: 20px;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1.5rem;
}
.section2 .chica1{
    margin-left: 2%;
    margin-right: 2%;
    margin-block: 3%;
}
.section2 .chica2{
    margin-left: 2%;
    margin-right: 2%;
    margin-block: 3%;
}
.section2 .chica3{
    margin-left: 2%;
    margin-right: 2%;
    margin-block: 3%;
}
footer .logofinal{
    height: ;
}
.section3{
    background-image: url(../assets/Img/Mockup12.jpg);
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}
.section3 .redes{
    margin-left: 15%;
    margin-right: 10%;
    margin-block: 3%;
}
.section3 .instagram{
    margin-left: 37%;
    margin-right: 2%;
    margin-block: 3%;
}
.section3 .facebook{
    margin-left: 2%;
    margin-right: 2%;
    margin-block: 3%;
}
.section3 .whatsapp{
    margin-left: 2%;
    margin-right: 10%;
    margin-block: 3%;
}
.section4{
    background-color: #464D37;
    height: 850px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
}
.section4 .imagen1{
    margin-left: 23%;
    margin-right: 20%;
    margin-block: 5%;
    margin-bottom: 5%;
}
h5{
    color: #ffffff;
    text-align: center;
    padding: 3%;
    text-decoration: none;
}
footer .footer1{
    background-color: #464d3789;
    height: 80px;
    margin-left: 5%;
    margin-right: 5%;
}
.section5{
    background-image: url(../assets/Img/Mockup12.jpg);
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: #ffffff;
}
.section5 .formulario{
    padding: 5%;
    background-color: #464d37b6;
}
footer{
    text-align: center;
}
.wp{
    position: fixed;
    top: 600px;
    left: 1300px;

}
.logoinsta{
    position: fixed;
    top: 570px;
    left: 1330px;

}
@media only screen and(min-width: 768px){
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto auto;
    grid-template-areas:
    .chica1
    .chica2
    .chica3 ;

}
