<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/logo.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Medidas | Pictorica</title>
</head>
<body>
    <header class="navBack">
        <div id="top">
            <img class="logo" src="../assets/Img/logo palabra.png" alt="logo sitio">
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="./productos.html">Productos</a>
                    <ul class="submenu">
                        <li class="sub_1"> <a href="./productos.html">Cuadros Infantiles</a></li>
                        <li class="sub_1"> <a href="./productos.html">Cuadros de Musica</a></li>
                        <li class="sub_1"> <a href="./productos.html">Cuadros de Naturaleza</a></li>
                        <li class="sub_1"> <a href="./productos.html">Cuadros Abstractos</a></li>
                        <li class="sub_1"> <a href="./productos.html">Cuadros Personalizados</a></li>
                    </ul>
                </li>
                <li class="item"><a href="./medidas.html">Medidas</a></li>
                <li class="item"><a href="./presupuestos.html">Presupuesto Personalizados</a></li>
                <li class="item"><a href="./contacto.html">Contacto</a></li>
                <li class="item"><a href="./nosotros.html">Nosotros</a></li>
            </ul>

        </nav>
    <hr>
    <br>
    <br>
    <section class="section5">
        <h3> MEDIDAS</h3>
        <img  height="500px" width="290px" class="medidas" src="../assets/Img/IMG_2572.svg" alt="medidas">
        <img  height="500px" width="290px" class="colores" src="../assets/Img/IMG_2572222.svg" alt="colores">
        
        <br>
        
    </header>
    <main>

    </main>
    <br>
    <br>
    <footer>
        <img  height="100" width="100" class="logo1final" src="../assets/Img/logo.png" alt="logo final">
    </footer>
    
</body>
</html>